<div class="mt-4">
  <form method="post" action="/result">
    <div class="form-group">
      <label for="search-input">Enter keyword</label>
      <input type="text" name="q" class="form-control" id="exampleInputEmail1" placeholder="What do you want?">
      <small id="emailHelp" class="form-text text-muted">Enter something to search</small>
    </div>
    <button type="submit" class="btn btn-primary" value="virusTotal" name="vote">virusTotal</button>
    <button type="submit" class="btn btn-warning" value="urlScan" name="vote">urlScan</button>
  </form>
</div>

<div></div>
{{!-- <h1>test css</h1> --}}